<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.O365.Security.Native.ETW" version="2.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Splunk.Client" version="2.2.8" targetFramework="net451" />
  <package id="Splunk.ModularInputs" version="2.2.8" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net451" />
  <package id="YamlDotNet" version="6.1.2" targetFramework="net452" />
</packages>